//

/* Start <======>  Root Variables <======>  */
:root {
  --alt_color: #f7f4ef;
  --white: #ffffff;
  --dark: #000000;
  --main_transition: 0.4s;
  --sm_border_rd: 5px;
  --md_border_rd: 10px;
  --cir_border_rd: 50%;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* End   <======>  Root Variables <======>  */

/* Start   <======> Fonts <======>  */
$light_font: "Cairo-Light";
$regular_font: "Cairo-Regular";
$medium_font: "Cairo-Medium";
$semi_bold_font: "Cairo-SemiBold";
$bold_font: "Cairo-Bold";
/* End   <======> Fonts <======>  */
